*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Courier New', Courier, monospace; 
}
#base-main{
    background-color: #f0ebe7;
    width: auto;
    height: auto;
    border-radius: 15px;
    border: 2px solid black;
}
#header{
    background-color: white;
    display: flex;
    justify-content: s;
    height: 46px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid black; 
    box-sizing: border-box;
    display: block;

}
#header ul{
    height: 46px;
}
#header li{
    float: left;
    list-style-type: none;
    line-height: 46px;
    padding: 0 16px;
    position: relative;
    left: 900px;
}
#header li a{
    transition: 0.5s;
    text-decoration: none;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 800;
}
#header a:hover{
    box-shadow: 2px 2px mediumblue;
    background-color: rgb(74, 88, 187);
    color: white;
    border-radius: 10px;
}
#header h2{
    width: 50px;
    height: auto;
    font-size: 28px;
    position: relative;
    left: 30px;
    top: -40px;
    font-weight: 800;
    text-transform: uppercase;
}
#main{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
#main h1{
    width: 200px;
    height: auto;
    text-align: center;
    font-size: 40px;   
    margin-bottom: 30px;
    word-wrap: break-word 3;
    
}
#main ul li{
    margin-top: 40px;
    list-style-type: none;
    box-sizing: border-box;
    float: left;
}
#main ul li a{
    transition: 0.5s;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    
}
#main ul li a:hover{
    background-color: tomato;
    border-radius: 10px;
    color: white;
    
}
#sub{
    box-shadow: 2px 2px;
    transition: 0.5s;
    color: tomato;
    margin-bottom: 30px;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    text-decoration: none;
    font-weight: 800;

}
#sub:hover{
    box-shadow: none;
    background-color: black;
}
#main-left{
    display: flex;
    justify-items: center;
    height: max-content 300px;
    
}
#main-left img{
    width: 200px;
}
#main-left ul li{
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    border: 2px solid black;
    margin: 10px;
}
#main-left{
    position: relative;
    top: 200px;
}
#main-left ul li i{
    font-size: 30px;
    color: rgb(74, 88, 187);
}
#pic1{
    height: 240px;
    width: 0;
    
}
#pic1 img{
    height: 600px;
    position: relative;
    left: 50px;
    bottom: 400px;
    
}
#pic2{
    height: 10px;
    width: 0;
}
#pic2 img{
    height: 500px;
    position: relative;
    left: 1000px;
    bottom: 480px;
}


